# Build artifacts
terraform-provider-intune
terraform-provider-intune_*

# Terraform local files
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Go
*.exe
*.test
*.out
vendor/
